**1. Create a List L that is defined as [10, 20, 30, 40, 50, 60, 70, 80]**

i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [2]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]

In [3]:
#i)
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [4]:
#ii)
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

In [5]:
#iii)
L.sort()
print(L)

[20, 40, 50, 60, 70, 80, 200, 300]

In [6]:
#iv)
L.sort(reverse=True)
print(L)

[300, 200, 80, 70, 60, 50, 40, 20]

**2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:**

i. Identify the highest score and its index in the tuple.

ii. Find the lowest score and count how many times it appears.

iii. Reverse the tuple and return it as a list.

iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [2]:
t = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(t)

(45, 89.5, 76, 45.4, 89, 92, 58, 45)

In [3]:
#i)i 
highest = max(t)
index = t.index(highest)
print("Highest Score:", highest, " Index:", index)

Highest Score: 92  Index: 5

In [5]:
#ii)
lowest = min(t)
times = t.count(lowest)
print("Lowest Score:", lowest, " Appearance:", times, "times")

Lowest Score: 45  Appearance: 2 times

In [6]:
#iii)
tl = list(reversed(t))
print(tl)

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [7]:
i = float(input("Enter the score to check: "))
if i in t:
    print("Score present in index:", t.index(i))
else:
    print("The score is not present!")

The score is not present!

**3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:**
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [9]:
import random
L = [random.randint(100, 900) for i in range(0, 100)]
print(L)

[775, 827, 385, 841, 881, 252, 546, 352, 682, 601, 611, 882, 590, 138, 122, 655, 509, 291, 214, 699, 410, 256, 289, 717, 201, 765, 376, 348, 213, 681, 592, 761, 373, 740, 631, 132, 812, 367, 279, 501, 708, 628, 113, 496, 149, 796, 470, 341, 179, 397, 626, 235, 410, 112, 520, 806, 420, 167, 710, 291, 824, 253, 524, 879, 528, 817, 505, 870, 661, 599, 234, 445, 140, 288, 228, 687, 188, 557, 184, 523, 727, 396, 322, 134, 288, 401, 328, 527, 312, 357, 612, 816, 759, 189, 468, 863, 447, 797, 685, 256]

In [12]:
#i) 
count = 0
Odd = []
for i in L:
    if i % 2 != 0:
        Odd.append(i)
        count += 1
print("Odd numbers in L:")
print(Odd)
print("The number of odd numbers:", count)

Odd numbers in L:
[775, 827, 385, 841, 881, 601, 611, 655, 509, 291, 699, 289, 717, 201, 765, 213, 681, 761, 373, 631, 367, 279, 501, 113, 149, 341, 179, 397, 235, 167, 291, 253, 879, 817, 505, 661, 599, 445, 687, 557, 523, 727, 401, 527, 357, 759, 189, 863, 447, 797, 685]
The number of odd numbers: 51

In [11]:
#ii)
count = 0
Even = []
for i in L:
    if i % 2 == 0:
        Even.append(i)
        count += 1
print("Even numbers in L:")
print(Even)
print("The number of even numbers:", count)

Even numbers in L:
[252, 546, 352, 682, 882, 590, 138, 122, 214, 410, 256, 376, 348, 592, 740, 132, 812, 708, 628, 496, 796, 470, 626, 410, 112, 520, 806, 420, 710, 824, 524, 528, 870, 234, 140, 288, 228, 188, 184, 396, 322, 134, 288, 328, 312, 612, 816, 468, 256]
The number of even numbers: 49

In [13]:
#iii)
count = 0
P = []
for x in L:
    is_prime = True
    for i in range(2, int(x ** 0.5) + 1):
        if x % i == 0:
            is_prime = False
            break
    if is_prime:
        P.append(x)
        count += 1
print("Prime numbers in L:")
print(P)
print("The number of prime numbers:", count)

Prime numbers in L:
[827, 881, 601, 509, 761, 373, 631, 367, 113, 149, 179, 397, 167, 661, 599, 557, 523, 727, 401, 863, 797]
The number of prime numbers: 21

**4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:**

i. Find the unique scores achieved by both teams (union of sets).

ii. Identify the scores that are common to both teams (intersection of sets).

iii. Find the scores that are exclusive to each team (symmetric difference).

iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.

v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [16]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print("Team A:", A)
print("Team B:", B)

Team A: {56, 34, 90, 78}
Team B: {90, 45, 78, 23}

In [17]:
#i)
print("Unique score achieved by both teams:", A|B)

Unique score achieved by both teams: {34, 45, 78, 23, 56, 90}

In [18]:
#ii)
print("Common score by both teams:", A&B)

Common score by both teams: {90, 78}

In [19]:
#iii)
print("Exclusive score to team A:", A-B)
print("Exclusive score to team B:", B-A)

Exclusive score to team A: {56, 34}
Exclusive score to team B: {45, 23}

In [20]:
#iv)
if A.issubset(B):
    print("Scores of team A is subset of scores of team B.")
else:
    print("Scores of team A is not subset of scores of team B.")
if B.issuperset(A):
    print("Scores of team B is superset of scores of team A.")
else:
    print("Scores of team B is not superset of scores of team A.")

Scores of team A is not subset of scores of team B.
Scores of team B is not superset of scores of team A.

In [21]:
#v)
x = int(input("Enter the score to delete."))
if x in A:
    A.remove(x)
    print(A)
else:
    print("Score doesn't exist!")

Score doesn't exist!

**5. Write a program to rename a key city to a location in the following dictionary.**
**Given:**
```python
sample_dict={
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}
```
**Expected Output:**
`{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}`

In [22]:
sample_dict={
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}